# system/editor files
.DS_Store
*.sw?

# rails-related
coverage/*
db/schema.rb
db/*.sqlite3
db/*.db
doc/app
log/*.log
tmp/**/*

# gem bunder
bin/*
vendor/bundler_gems/environment.rb
vendor/bundler_gems/gems
vendor/bundler_gems/doc
vendor/bundler_gems/specifications

app/stylesheets/.sass-cache