/* incase an inverted custom gradient isn't specified */

/* line 3, ../../app/stylesheets/buttons.sass */
body {
  text-align: center;
  padding-top: 10px;
}

/* line 6, ../../app/stylesheets/buttons.sass */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  letter-spacing: -1px;
}

/* line 10, ../../app/stylesheets/buttons.sass */
h1 {
  font-size: 50px;
}

/* line 12, ../../app/stylesheets/buttons.sass */
h2 {
  font-size: 30px;
}

/* line 14, ../../app/stylesheets/buttons.sass */
div {
  margin-top: 15px;
}

/* line 27, ../../app/stylesheets/buttons.sass */
a.button, button {
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('/images/button_bg.png?1260636298') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  font-size: 18px;
  line-height: 21.6px;
  padding: 5px 18px;
  border-width: 1px;
  background-color: #444444;
  background: -webkit-gradient(linear, left top, left bottom, from(#989898), to(#4f4f4f), color-stop(10%, #6a6a6a), color-stop(50%, #3d3d3d), color-stop(50%, #353535));
  background: -moz-linear-gradient(left top, left bottom, from(#989898), to(#4f4f4f), color-stop(10%, #6a6a6a), color-stop(50%, #3d3d3d), color-stop(50%, #353535));
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
  color: white;
  margin: 0 2px;
  vertical-align: middle;
}
/* line 150, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button::-moz-focus-inner, button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 153, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button:focus, button:focus {
  outline: none;
}
/* line 131, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button:active, button:active {
  padding: 4px 17px;
  border-width: 2px;
}
/* line 134, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.disabled:active, button.disabled:active {
  padding: 5px 18px;
  border-width: 1px;
}
/* line 23, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: #3c3c3c;
  background: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#474747), color-stop(10%, #626262), color-stop(50%, #353535), color-stop(50%, #2d2d2d));
  background: -moz-linear-gradient(left top, left bottom, from(#909090), to(#474747), color-stop(10%, #626262), color-stop(50%, #353535), color-stop(50%, #2d2d2d));
  border-color: #161616;
  text-shadow: black 0px 1px 1px;
  color: white;
}
/* line 28, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button:active, button:active {
  background-color: #353535;
  background: -webkit-gradient(linear, left top, left bottom, from(#353535), to(#4a4a4a), color-stop(30%, #3a3a3a), color-stop(50%, #303030), color-stop(50%, #292929));
  background: -moz-linear-gradient(left top, left bottom, from(#353535), to(#4a4a4a), color-stop(30%, #3a3a3a), color-stop(50%, #303030), color-stop(50%, #292929));
  border-color: #0f0f0f;
  text-shadow: black 0px -1px -1px;
  color: white;
}
/* line 32, ../../app/stylesheets/buttons.sass */
a.button.light, button.light {
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cecece));
  background: -moz-linear-gradient(left top, left bottom, from(white), to(#cecece));
  border-color: #b7b7b7;
  text-shadow: white 0px 1px 1px;
  color: #222222;
}
/* line 23, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.light:hover, a.button.light:focus, button.light:hover, button.light:focus {
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#c6c6c6));
  background: -moz-linear-gradient(left top, left bottom, from(#fbfbfb), to(#c6c6c6));
  border-color: #afafaf;
  text-shadow: white 0px 1px 1px;
  color: #222222;
}
/* line 28, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.light:active, button.light:active {
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#e5e5e5), color-stop(85%, #d3d3d3), color-stop(40%, #d3d3d3));
  background: -moz-linear-gradient(left top, left bottom, from(#cccccc), to(#e5e5e5), color-stop(85%, #d3d3d3), color-stop(40%, #d3d3d3));
  border-color: #a8a8a8;
  text-shadow: white 0px -1px -1px;
  color: #222222;
}
/* line 34, ../../app/stylesheets/buttons.sass */
a.button.matte-blue, button.matte-blue {
  background-color: #0059b7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3680ce), to(#1e4b7a));
  background: -moz-linear-gradient(left top, left bottom, from(#3680ce), to(#1e4b7a));
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  color: white;
}
/* line 23, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.matte-blue:hover, a.button.matte-blue:focus, button.matte-blue:hover, button.matte-blue:focus {
  background-color: #0051a8;
  background: -webkit-gradient(linear, left top, left bottom, from(#3077c4), to(#1b436e));
  background: -moz-linear-gradient(left top, left bottom, from(#3077c4), to(#1b436e));
  border-color: #122d4a;
  text-shadow: #001429 0px 1px 1px;
  color: white;
}
/* line 28, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.matte-blue:active, button.matte-blue:active {
  background-color: #004a98;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d4975), to(#27629e), color-stop(85%, #205082), color-stop(40%, #205082));
  background: -moz-linear-gradient(left top, left bottom, from(#1d4975), to(#27629e), color-stop(85%, #205082), color-stop(40%, #205082));
  border-color: #0f253d;
  text-shadow: #000c18 0px -1px -1px;
  color: white;
}
/* line 36, ../../app/stylesheets/buttons.sass */
a.button.green, button.green {
  background-color: #3ab700;
  background: -webkit-gradient(linear, left top, left bottom, from(#9ee080), to(#4fa328), color-stop(10%, #66ce36), color-stop(50%, #418621), color-stop(50%, #3b7a1e));
  background: -moz-linear-gradient(left top, left bottom, from(#9ee080), to(#4fa328), color-stop(10%, #66ce36), color-stop(50%, #418621), color-stop(50%, #3b7a1e));
  border-color: #295615;
  text-shadow: #123800 0px 1px 1px;
  color: white;
}
/* line 23, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.green:hover, a.button.green:focus, button.green:hover, button.green:focus {
  background-color: #35a800;
  background: -webkit-gradient(linear, left top, left bottom, from(#95dd73), to(#499725), color-stop(10%, #5fc430), color-stop(50%, #3b7a1e), color-stop(50%, #356e1b));
  background: -moz-linear-gradient(left top, left bottom, from(#95dd73), to(#499725), color-stop(10%, #5fc430), color-stop(50%, #3b7a1e), color-stop(50%, #356e1b));
  border-color: #234a12;
  text-shadow: #0d2900 0px 1px 1px;
  color: white;
}
/* line 28, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.green:active, button.green:active {
  background-color: #309800;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b7a1e), to(#4b9a26), color-stop(30%, #3f8220), color-stop(50%, #37711c), color-stop(50%, #316519));
  background: -moz-linear-gradient(left top, left bottom, from(#3b7a1e), to(#4b9a26), color-stop(30%, #3f8220), color-stop(50%, #37711c), color-stop(50%, #316519));
  border-color: #1d3d0f;
  text-shadow: #081800 0px -1px -1px;
  color: white;
}
/* line 38, ../../app/stylesheets/buttons.sass */
a.button.blue, button.blue {
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  font-size: 32px;
  line-height: 38.4px;
  padding: 9px 32px;
  border-width: 3px;
  background-color: #0059b7;
  background: -webkit-gradient(linear, left top, left bottom, from(#80afe0), to(#2864a3), color-stop(10%, #3680ce), color-stop(50%, #215386), color-stop(50%, #1e4b7a));
  background: -moz-linear-gradient(left top, left bottom, from(#80afe0), to(#2864a3), color-stop(10%, #3680ce), color-stop(50%, #215386), color-stop(50%, #1e4b7a));
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  color: white;
}
/* line 131, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.blue:active, button.blue:active {
  padding: 8px 31px;
  border-width: 4px;
}
/* line 134, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.blue.disabled:active, button.blue.disabled:active {
  padding: 9px 32px;
  border-width: 3px;
}
/* line 23, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.blue:hover, a.button.blue:focus, button.blue:hover, button.blue:focus {
  background-color: #0051a8;
  background: -webkit-gradient(linear, left top, left bottom, from(#73a6dd), to(#255c97), color-stop(10%, #3077c4), color-stop(50%, #1e4a7a), color-stop(50%, #1b436e));
  background: -moz-linear-gradient(left top, left bottom, from(#73a6dd), to(#255c97), color-stop(10%, #3077c4), color-stop(50%, #1e4a7a), color-stop(50%, #1b436e));
  border-color: #122d4a;
  text-shadow: #001429 0px 1px 1px;
  color: white;
}
/* line 28, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.blue:active, button.blue:active {
  background-color: #004a98;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e4b7a), to(#265f9a), color-stop(30%, #205082), color-stop(50%, #1c4671), color-stop(50%, #193f65));
  background: -moz-linear-gradient(left top, left bottom, from(#1e4b7a), to(#265f9a), color-stop(30%, #205082), color-stop(50%, #1c4671), color-stop(50%, #193f65));
  border-color: #0f253d;
  text-shadow: #000c18 0px -1px -1px;
  color: white;
}
/* line 41, ../../app/stylesheets/buttons.sass */
a.button.red, button.red {
  background-color: #b70300;
  background: -webkit-gradient(linear, left top, left bottom, from(#e08280), to(#a32b28), color-stop(10%, #ce3936), color-stop(50%, #862321), color-stop(50%, #7a201e));
  background: -moz-linear-gradient(left top, left bottom, from(#e08280), to(#a32b28), color-stop(10%, #ce3936), color-stop(50%, #862321), color-stop(50%, #7a201e));
  border-color: #561615;
  text-shadow: #380100 0px 1px 1px;
  color: white;
}
/* line 23, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.red:hover, a.button.red:focus, button.red:hover, button.red:focus {
  background-color: #a80300;
  background: -webkit-gradient(linear, left top, left bottom, from(#dd7573), to(#972825), color-stop(10%, #c43330), color-stop(50%, #7a201e), color-stop(50%, #6e1d1b));
  background: -moz-linear-gradient(left top, left bottom, from(#dd7573), to(#972825), color-stop(10%, #c43330), color-stop(50%, #7a201e), color-stop(50%, #6e1d1b));
  border-color: #4a1312;
  text-shadow: #290100 0px 1px 1px;
  color: white;
}
/* line 28, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.red:active, button.red:active {
  background-color: #980300;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a211e), to(#9a2926), color-stop(30%, #822320), color-stop(50%, #711e1c), color-stop(50%, #651b19));
  background: -moz-linear-gradient(left top, left bottom, from(#7a211e), to(#9a2926), color-stop(30%, #822320), color-stop(50%, #711e1c), color-stop(50%, #651b19));
  border-color: #3d100f;
  text-shadow: #180000 0px -1px -1px;
  color: white;
}
/* line 43, ../../app/stylesheets/buttons.sass */
a.button.yellow, button.yellow {
  background-color: #e6e600;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebeba4), to(#cece2d), color-stop(10%, #dbdb58), color-stop(50%, #b1b127), color-stop(50%, #a4a424));
  background: -moz-linear-gradient(left top, left bottom, from(#ebeba4), to(#cece2d), color-stop(10%, #dbdb58), color-stop(50%, #b1b127), color-stop(50%, #a4a424));
  border-color: #7e7e1b;
  text-shadow: #676600 0px 1px 1px;
  color: white;
}
/* line 23, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.yellow:hover, a.button.yellow:focus, button.yellow:hover, button.yellow:focus {
  background-color: #d6d600;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e896), to(#c1c12a), color-stop(10%, #d8d84a), color-stop(50%, #a4a424), color-stop(50%, #979721));
  background: -moz-linear-gradient(left top, left bottom, from(#e8e896), to(#c1c12a), color-stop(10%, #d8d84a), color-stop(50%, #a4a424), color-stop(50%, #979721));
  border-color: #717118;
  text-shadow: #575600 0px 1px 1px;
  color: white;
}
/* line 28, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.yellow:active, button.yellow:active {
  background-color: #c8c800;
  background: -webkit-gradient(linear, left top, left bottom, from(#a4a423), to(#c6c62b), color-stop(30%, #adad25), color-stop(50%, #9c9c22), color-stop(50%, #8f8f1f));
  background: -moz-linear-gradient(left top, left bottom, from(#a4a423), to(#c6c62b), color-stop(30%, #adad25), color-stop(50%, #9c9c22), color-stop(50%, #8f8f1f));
  border-color: #656516;
  text-shadow: #484900 0px -1px -1px;
  color: white;
}
/* line 45, ../../app/stylesheets/buttons.sass */
a.button.custom, button.custom {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 30px;
  line-height: 36px;
  padding: 8px 30px;
  border-width: 1px;
  padding: 2px 12px;
  border-width: 2px;
}
/* line 131, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.custom:active, button.custom:active {
  padding: 7px 29px;
  border-width: 2px;
}
/* line 134, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.custom.disabled:active, button.custom.disabled:active {
  padding: 8px 30px;
  border-width: 1px;
}
/* line 131, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.custom:active, button.custom:active {
  padding: 1px 11px;
  border-width: 3px;
}
/* line 134, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.custom.disabled:active, button.custom.disabled:active {
  padding: 2px 12px;
  border-width: 2px;
}
/* line 48, ../../app/stylesheets/buttons.sass */
a.button.heart, button.heart {
  background-color: #c10200;
  background: -webkit-gradient(radial, 50% 10%, 10, 50% 10%, 30, from(#e72926), to(#7b0f0d));
  background: -moz-radial-gradient(50% 10%, 10, 50% 10%, 30, from(#e72926), to(#7b0f0d));
  border-color: #690d0b;
  text-shadow: #420100 0px 1px 1px;
  color: white;
}
/* line 23, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.heart:hover, a.button.heart:focus, button.heart:hover, button.heart:focus {
  background-color: #b10200;
  background: -webkit-gradient(radial, 50% 10%, 10, 50% 10%, 30, from(#e51b18), to(#6d0d0c));
  background: -moz-radial-gradient(50% 10%, 10, 50% 10%, 30, from(#e51b18), to(#6d0d0c));
  border-color: #5b0b0a;
  text-shadow: #310100 0px 1px 1px;
  color: white;
}
/* line 28, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.heart:active, button.heart:active {
  background-color: #a20200;
  background: -webkit-gradient(radial, 50% 10%, 10, 50% 10%, 30, from(#a41512), to(#d11b17));
  background: -moz-radial-gradient(50% 10%, 10, 50% 10%, 30, from(#a41512), to(#d11b17));
  border-color: #4d0908;
  text-shadow: #220000 0px -1px -1px;
  color: white;
}
/* line 50, ../../app/stylesheets/buttons.sass */
a.button.arrow, button.arrow {
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  font-size: 30px;
  line-height: 36px;
  padding: 8px 30px;
  border-width: 1px;
  background-color: white;
  background: -webkit-gradient(radial, 50% 10%, 10, 50% 10%, 30, from(white), to(#c1c1c1));
  background: -moz-radial-gradient(50% 10%, 10, 50% 10%, 30, from(white), to(#c1c1c1));
  border-color: #b7b7b7;
  text-shadow: white 0px 1px 1px;
  color: #222222;
  padding: 2px 6px;
  border-width: 2px;
}
/* line 131, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.arrow:active, button.arrow:active {
  padding: 7px 29px;
  border-width: 2px;
}
/* line 134, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.arrow.disabled:active, button.arrow.disabled:active {
  padding: 8px 30px;
  border-width: 1px;
}
/* line 23, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.arrow:hover, a.button.arrow:focus, button.arrow:hover, button.arrow:focus {
  background-color: white;
  background: -webkit-gradient(radial, 50% 10%, 10, 50% 10%, 30, from(#fbfbfb), to(#b9b9b9));
  background: -moz-radial-gradient(50% 10%, 10, 50% 10%, 30, from(#fbfbfb), to(#b9b9b9));
  border-color: #afafaf;
  text-shadow: white 0px 1px 1px;
  color: #222222;
}
/* line 28, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.arrow:active, button.arrow:active {
  background-color: white;
  background: -webkit-gradient(radial, 50% 10%, 10, 50% 10%, 30, from(#d9d9d9), to(#f2f2f2));
  background: -moz-radial-gradient(50% 10%, 10, 50% 10%, 30, from(#d9d9d9), to(#f2f2f2));
  border-color: #a8a8a8;
  text-shadow: white 0px -1px -1px;
  color: #222222;
}
/* line 131, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.arrow:active, button.arrow:active {
  padding: 1px 5px;
  border-width: 3px;
}
/* line 134, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.arrow.disabled:active, button.arrow.disabled:active {
  padding: 2px 6px;
  border-width: 2px;
}
/* line 54, ../../app/stylesheets/buttons.sass */
a.button.spade, button.spade {
  background-color: #0059b7;
  background: -webkit-gradient(radial, 50% 10%, 10, 50% 10%, 30, from(#3680ce), to(#193e66));
  background: -moz-radial-gradient(50% 10%, 10, 50% 10%, 30, from(#3680ce), to(#193e66));
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  color: white;
  padding: 2px 8px;
  border-width: 2px;
}
/* line 23, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.spade:hover, a.button.spade:focus, button.spade:hover, button.spade:focus {
  background-color: #0051a8;
  background: -webkit-gradient(radial, 50% 10%, 10, 50% 10%, 30, from(#3077c4), to(#16375a));
  background: -moz-radial-gradient(50% 10%, 10, 50% 10%, 30, from(#3077c4), to(#16375a));
  border-color: #122d4a;
  text-shadow: #001429 0px 1px 1px;
  color: white;
}
/* line 28, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.spade:active, button.spade:active {
  background-color: #004a98;
  background: -webkit-gradient(radial, 50% 10%, 10, 50% 10%, 30, from(#22558a), to(#2c6eb3));
  background: -moz-radial-gradient(50% 10%, 10, 50% 10%, 30, from(#22558a), to(#2c6eb3));
  border-color: #0f253d;
  text-shadow: #000c18 0px -1px -1px;
  color: white;
}
/* line 131, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.spade:active, button.spade:active {
  padding: 1px 7px;
  border-width: 3px;
}
/* line 134, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
a.button.spade.disabled:active, button.spade.disabled:active {
  padding: 2px 8px;
  border-width: 2px;
}

/* line 36, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9;
}
/* line 39, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 42, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 44, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 46, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff;
  visibility: hidden;
}
/* line 48, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 18, ../../app/stylesheets/screen.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 58, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 63, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h1 img {
  margin: 0;
}
/* line 65, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 74, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 79, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 84, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
/* line 88, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 90, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 92, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 96, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 100, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 12, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:visited {
  color: #000066;
}
/* line 15, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:focus {
  color: black;
}
/* line 18, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:hover {
  color: black;
}
/* line 21, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:active {
  color: #cc0099;
}
/* line 103, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
/* line 107, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp strong {
  font-weight: bold;
}
/* line 109, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp em {
  font-style: italic;
}
/* line 111, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 114, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 116, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666;
}
/* line 118, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 121, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp del {
  color: #666;
}
/* line 123, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 126, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp pre, body.bp code, body.bp tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
/* line 129, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 131, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 134, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ul {
  list-style-type: disc;
}
/* line 136, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ol {
  list-style-type: decimal;
}
/* line 138, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 140, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dl dt {
  font-weight: bold;
}
/* line 142, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dd {
  margin-left: 1.5em;
}
/* line 144, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 147, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp th {
  font-weight: bold;
}
/* line 149, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp thead th {
  background: #c3d9ff;
}
/* line 151, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 153, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 155, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp tfoot {
  font-style: italic;
}
/* line 157, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp caption {
  background: #eee;
}
/* line 159, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp .quiet {
  color: #666666;
}
/* line 161, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .clear {
  clear: both;
}
/* line 12, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .clearfix {
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body.bp .clearfix {
  display: block;
}
/* line 18, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 7, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_debug.sass */
body.bp .showgrid {
  background: url('/images/grid.png?1260635491');
}
/* line 5, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 30, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .error a {
  color: #8a1f11;
}
/* line 7, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 38, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .notice a {
  color: #514721;
}
/* line 9, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 46, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .success a {
  color: #264409;
}
/* line 11, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .hide {
  display: none;
}
/* line 13, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .highlight {
  background: yellow;
}
/* line 15, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 17, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 15, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp label {
  font-weight: bold;
}
/* line 17, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 24, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px;
}
/* line 28, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.title {
  font-size: 1.5em;
}
/* line 30, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 34, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 37, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp select {
  margin: 0.5em 0;
}
/* line 49, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 51, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password],
form.bp textarea,
form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 55, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus,
form.bp select:focus {
  border: 1px solid #666666;
}
/* line 42, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 44, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 30, ../../app/stylesheets/screen.sass */
body.three-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body.three-col #container {
  display: block;
}
/* line 32, ../../app/stylesheets/screen.sass */
body.three-col #header, body.three-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 101, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.three-col #header, * html body.three-col #footer {
  overflow-x: hidden;
}
/* line 34, ../../app/stylesheets/screen.sass */
body.three-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 101, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.three-col #sidebar {
  overflow-x: hidden;
}
/* line 38, ../../app/stylesheets/screen.sass */
body.three-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 101, ../../vendor/bundler_gems/gems/compass-0.10.0.pre2/lib/compass/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.three-col #content {
  overflow-x: hidden;
}

/* line 45, ../../app/stylesheets/screen.sass */
button.round_corners, a.button.round_corners {
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('/images/button_bg.png?1260636298') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  font-size: 30px;
  line-height: 36px;
  padding: 8px 30px;
  border-width: 2px;
  background-color: #3ab700;
  background: -webkit-gradient(linear, left top, left bottom, from(#9ee080), to(#4fa328), color-stop(10%, #66ce36), color-stop(50%, #418621), color-stop(50%, #3b7a1e));
  background: -moz-linear-gradient(left top, left bottom, from(#9ee080), to(#4fa328), color-stop(10%, #66ce36), color-stop(50%, #418621), color-stop(50%, #3b7a1e));
  border-color: #295615;
  text-shadow: #123800 0px 1px 1px;
  color: white;
  color: white;
}
/* line 150, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
button.round_corners::-moz-focus-inner, a.button.round_corners::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 153, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
button.round_corners:focus, a.button.round_corners:focus {
  outline: none;
}
/* line 131, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
button.round_corners:active, a.button.round_corners:active {
  padding: 7px 29px;
  border-width: 3px;
}
/* line 134, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
button.round_corners.disabled:active, a.button.round_corners.disabled:active {
  padding: 8px 30px;
  border-width: 2px;
}
/* line 23, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
button.round_corners:hover, button.round_corners:focus, a.button.round_corners:hover, a.button.round_corners:focus {
  background-color: #35a800;
  background: -webkit-gradient(linear, left top, left bottom, from(#95dd73), to(#499725), color-stop(10%, #5fc430), color-stop(50%, #3b7a1e), color-stop(50%, #356e1b));
  background: -moz-linear-gradient(left top, left bottom, from(#95dd73), to(#499725), color-stop(10%, #5fc430), color-stop(50%, #3b7a1e), color-stop(50%, #356e1b));
  border-color: #234a12;
  text-shadow: #0d2900 0px 1px 1px;
  color: white;
}
/* line 28, ../../vendor/bundler_gems/gems/fancy-buttons-0.3.6/lib/sass/_fancy_buttons.sass */
button.round_corners:active, a.button.round_corners:active {
  background-color: #309800;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b7a1e), to(#4b9a26), color-stop(30%, #3f8220), color-stop(50%, #37711c), color-stop(50%, #316519));
  background: -moz-linear-gradient(left top, left bottom, from(#3b7a1e), to(#4b9a26), color-stop(30%, #3f8220), color-stop(50%, #37711c), color-stop(50%, #316519));
  border-color: #1d3d0f;
  text-shadow: #081800 0px -1px -1px;
  color: white;
}
